/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

/* Styles for login.php */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0px;
    background-color: white;
}
.login{
    display: flex;
    color: black;
    align-items: center;
    flex-direction: column;
    height: fit-content;
    width: fit-content;
    border: dashed black 2px;
    font-family: 'Kanit', sans-serif;
    padding:30px;
    padding-top: 5px;
}

.form_login{
    display: flex;
    flex-direction: column;
    align-items: center;
    

}

.login_button{
    margin-top: -20px;
}

.login_register{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

/* styles for signup.php */
.signup{
    display: flex;
    color: black;
    align-items: center;
    flex-direction: column;
    height: fit-content;
    width: fit-content;
    border: dashed black 2px;
    font-family: 'Kanit', sans-serif;
    padding:30px;
    padding-top: 5px;
}

.form_signup{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup_login{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}




/* general styles */

h2{
    margin-top: 0px;
    border-style: none none dashed none;
    font-size: 35px;
    
    
}

.text{
    border-radius: 0px;
    padding:5px;
    margin:5px;
    border: 4px grey;
    border-style: outset;

}

.submit{
    border-radius: 0px;
    color:black;
    background-color: white;
    border: 2px solid black;
    font-size:medium;
    width:100px;
    height: 40px;
    transition: 0.5s;
    margin-top:10px;
}

.submit_small{
    border-radius: 0px;
    color:black;
    background-color: white;
    border: 2px dashed black;
    font-size:medium;
    width:80px;
    height: 32px;
    transition: 0.5s;
    margin-top:10px;
}

/* hover */

.submit:hover{
    color:white;
    background-color: grey;
        
}

.submit_small:hover{
    color:white;
    background-color: grey;
    border: 2px solid black;    
}

